- name: download k3s binary
  get_url:
    url: https://github.com/k3s-io/k3s/releases/download/{{ version }}/k3s
    checksum: sha256:https://github.com/k3s-io/k3s/releases/download/{{ version }}/sha256sum-amd64.txt
    dest: /usr/local/bin/k3s
    owner: root
    group: root
    mode: 0755
